.about {
  min-height: 350px;
  padding-top: 150px;
  padding-bottom: 150px;
  background: var(--light-blue-color);

  &__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.45;
    text-align: center;
  }

  &__text {
    text-align: center;
    font-size: 30px;
    line-height: 1.45;
  }
}
