.order {
  padding-top: 150px;
  padding-bottom: 150px;
  background: var(--medium-blue-color);

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    margin-bottom: 20px;

    @include mobile {
      font-size: 22px;
      margin-bottom: 50px;
    }
  }

  &__title-subtitle {
    display: block;
    margin: 40px auto;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;

    @include tablet {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.5;
      font-weight: 400;
    }

    @include mobile {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 1.5;
      font-weight: 400;
    }
  }

  &__form {
    margin: 0 auto;
    max-width: 760px;

    @include mobile {
      max-width: 320px;
    }
  }
}
