<header class="header">
  <div class="container">
    <a href="#" class="logo">
      <img loading="lazy" src="img/logo.svg"  class="image" width="80" height="80" alt="Logotype">
    </a>
    <nav class="nav" title="Навигация">
      <ul class="list-reset nav__list">
        <li  class="nav__item"><a href="#instruction" class="nav__link" data-scroll>Инструкция</a></li>
        <li  class="nav__item"><a href="#price" class="nav__link" data-scroll>Цены</a></li>
        <li  class="nav__item"><a href="#order" class="nav__link" data-scroll>Связь с нами</a></li>
      </ul>
    </nav>
  </div>
</header>
