<section class="instruction" id="instruction">
  <div class="container">
    <div class="instruction-content">
      <h2 class="section-title">
        Инструкция
        <span class="instruction__title-subtitle">
          С нами вы можете быть спокойны по поводу ваших аккаунтов
        </span>
      </h2>
      <ul class="list-reset instruction__list">
        <li class="instruction__item">
          <div href="#" class="instruction__icon">
            <img loading="lazy" src="img/svg/globe.svg"  class="image" width="80" height="80" alt="globe">
          </div>
          <div class="instruction__content">
            <h5 class="instruction__title">Удалите ваши методы оплаты</h5>
            <p class="instruction__description">
              Это нужно для обеспечения безопасности и сохранности ваших денежных средств
            </p>
          </div>
        </li>
        <li class="instruction__item">
          <div href="#" class="instruction__icon">
            <img loading="lazy" src="img/svg/commission.svg"  class="image" width="80" height="80" alt="globe">
          </div>
          <div class="instruction__content">
            <h5 class="instruction__title">Проверьте актуальность контактной информации в профиле</h5>
            <p class="instruction__description">
              Убедитесь что имеете доступ к почте и номеру телефона, которые указаны в аккаунте
            </p>
          </div>
        </li>
        <li class="instruction__item">
          <div href="#" class="instruction__icon">
            <img loading="lazy" src="img/svg/dollar.svg"  class="image" width="80" height="80" alt="globe">
          </div>
          <div class="instruction__content">
            <h5 class="instruction__title">Лимиты и ограничения</h5>
            <p class="instruction__description">
              Убедитесь в отсутсвии ограничений и лимитов на вашем аккаунте
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
