<section class="requirement">
  <div class="container">
    <div class="requirement-content">
      <h2 class="section-title">Условия</h2>
      <ul class="requirement__list list-reset">
        <li class="requirement__item">
          <span class="requirement__number">1</span>
          <div class="requirement__content">
            <h5 class="requirement__title">Возраст аккаунта</h5>
            <p class="requirement__description">Аккаунт не моложе 3 лет</p>
          </div>
        </li>
        <li class="requirement__item">
          <span class="requirement__number">2</span>
          <div class="requirement__content">
            <h5 class="requirement__title">Страны</h5>
            <p class="requirement__description">Армения, Казахстан</p>
          </div>
        </li>
        <li class="requirement__item">
          <span class="requirement__number">3</span>
          <div class="requirement__content">
            <h5 class="requirement__title">Быть на связи</h5>
            <p class="requirement__description">Будет необходимо принимать смс на номер или письмо на почту, если это потребуется</p>
          </div>
        </li>
        <li class="requirement__item">
          <span class="requirement__number">4</span>
          <div class="requirement__content">
            <h5 class="requirement__title">История покупок</h5>
            <p class="requirement__description">Аккаунт может быть пустым.</p>
            <p class="requirement__description">Наличие в нем каких-либо операций будет преимуществом</p>
          </div>
        </li>
        <li class="requirement__item">
          <span class="requirement__number">5</span>
          <div class="requirement__content">
            <h5 class="requirement__title">Отсутствие вашей активности</h5>
            <p class="requirement__description">
              Если аккаунт куплен - мы меняем все доступы к нему.
            </p>
            <p class="requirement__description">
              Если аккаунт в аренде, то вы не должны заходить в него до окончания срока аренды
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

